<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")'
                    href="https://github.com/nguyenthachvu" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")'
                    href="https://www.linkedin.com/in/v%C5%A9-th%E1%BA%A1ch-4a79b414a/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")'
                href="https://mail.google.com/mail/?view=cm&fs=1&to=nguyenthachvu1208@gmail.com" target='_blank'>
                nguyenthachvu1208&#64;gmail.com
            </a>
        </div>
    </div>

    <div class="footer-credits text-center">
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_andresjose", "footer", "click")'
            href="https://www.linkedin.com/in/v%C5%A9-th%E1%BA%A1ch-4a79b414a/" target="_blank"
            rel="nofollow noopener noreferrer">
            <div>Nguyễn Thạch Vũ</div>
        </a>
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_brittany", "footer", "click")'
            href="https://github.com/nguyenthachvu" target="_blank" rel="nofollow noopener noreferrer">
            <div class="mt-2">20.04.2026</div>
        </a>
    </div>

</footer>