<section class="section" id="contact">
  <div class="container">
    <div class="section-box">

      <div class="mb-5" data-animate="fadeInDown" data-animate-duration="1000">
        <h3 class="section-title">
          <span class='n-section-title'>04.</span> {{"Contact.Title" | translate}}
        </h3>
        <p data-animate="morphIn" data-animate-duration="1200" data-animate-delay="1000">
          {{ "Contact.Content" | translate }}
        </p>
      </div>

      <div class="social-icons" data-animate="slideInUp" data-animate-duration="1000" data-animate-delay="1500">
        <div class="social-cards-wrapper">
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nguyenthachvu1208@gmail.com" target="_blank"
            class="social-card" title="Gmail">
            <i class="fab fa-google"></i>
            <div class="card-label">Gmail</div>
          </a>

          <a href="https://www.facebook.com/AppMy2014" class="social-card" target="_blank" title="Facebook">
            <i class="fab fa-facebook-f"></i>
            <div class="card-label">Facebook</div>
          </a>

          <a href="https://zalo.me/0974328068" class="social-card" target="_blank" title="Zalo">
            <svg class="zalo-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.071 4.929C17.191 3.05 14.693 2 12 2S6.809 3.05 4.929 4.929C3.05 6.809 2 9.307 2 12s1.05 5.191 2.929 7.071c.417.417.868.793 1.348 1.127-.08.487-.27 1.637-.323 1.968a.545.545 0 00.77.581c.312-.148 1.403-.681 1.944-.954.437.073.886.107 1.332.107 2.693 0 5.191-1.05 7.071-2.929C20.95 17.191 22 14.693 22 12s-1.05-5.191-2.929-7.071zM14.6 15.1h-4.3c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h2.9l-3.3-3.3v-.8h4.2c.3 0 .5.2.5.5s-.2.5-.5.5h-2.9l3.3 3.3v.8h.1z" />
            </svg>
            <div class="card-label">Zalo</div>
          </a>

          <a href="https://t.me/vusgp" class="social-card" target="_blank" title="Telegram">
            <i class="fab fa-telegram-plane"></i>
            <div class="card-label">Telegram</div>
          </a>

          <a href="https://github.com/nguyenthachvu" class="social-card" target="_blank" title="GitHub">
            <i class="fab fa-github"></i>
            <div class="card-label">GitHub</div>
          </a>

          <a href="https://www.linkedin.com/in/v%C5%A9-th%E1%BA%A1ch-4a79b414a/" class="social-card" target="_blank"
            title="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
            <div class="card-label">LinkedIn</div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>